<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <h1>Olá mundo, estou usando o flask!</h1>
    <!-- Action manda os dados para alguma rota! -->
    <!-- Tenho que me certificar de que a rota aceita "post" -->
    <form method="post" action="/">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name">
        <br>

        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
        <br>


        <button type="submit">Enviar</button>
    </form>
    <a href=" {{ url_for('tabela.tabela') }}">Tabela de Clientes</a>
</body>
</html>