

<!-- Irá pegar os dados do formulário -->
<form class="c-form" action="{{ url_for('cliente.inserir_cliente') }}" method="POST">

  <div class="mb-3">
    <label class="form-label">Nome</label>
    <!-- Importante dizer o nome -->
    <input type="name" class="form-control" name="nome">
  </div>

    <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email">
  </div>

  <button type="submit" class="btn btn-primary">Adicionar Cliente</button>
</form>